<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/adminLayout}">

<main layout:fragment="content">

    <script>
        window.onload = function () {
            const selectAllCheckbox = document.getElementsByName('allcheckbox')[0];
            const checkBoxes = document.getElementsByName('checkbox');
            const selectedUIDs = [];

            selectAllCheckbox.addEventListener('change', function () {
                for (let i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].checked = selectAllCheckbox.checked;

                }
            });
        }

    </script>


    <!-- 내용 시작 -->
    <aside class="center-align">
        <h3>주요기능</h3>
        <ul>
            <li>
                <span>회원관리</span>
                <ol>
                    <li><a th:href="@{/admin/user/list}">회원목록</a></li>
                    <li><a th:href="@{/admin/user/register}">관리자등록</a></li>
                </ol>
            </li>
            <li>
                <span>상품관리</span>
                <ol>
                    <li><a th:href="@{/admin/product/list}">상품목록</a></li>
                    <li><a th:href="@{/admin/product/register}">상품등록</a></li>
                </ol>
            </li>
            <li>
                <span>주문관리</span>
                <ol>
                    <li><a th:href="@{/admin/order/list}">주문목록</a></li>
                    <li><a th:href="@{/admin/order/delivery}">배송관리</a></li>
                </ol>
            </li>
        </ul>
    </aside>
            <section id="productList">

                <nav>
                    <h3>상품목록</h3>
                </nav>

                <article>

                    <form th:action="@{/admin/product/delete}" method="post">
                    <table id="adminProdList" border="0">
                        <tr>
                            <th><input type="checkbox" name="allcheckbox"/></th>
                            <th>사진</th>
                            <th>상품번호</th>
                            <th>상품명</th>
                            <th>구분</th>
                            <th>가격</th>
                            <th>재고</th>
                            <th>등록일</th>
                        </tr>

                        <tr th:each="product: ${adminProducts}">
                            <td><input type="checkbox" name="checkbox" th:value="${product.pno}"/></td>
                            <td><img class="admProdImg1" th:src="@{|/product/${product.cate}/${product.img1}|}" alt="썸네일"></td>
                            <td>[[${product.pno}]]</td>
                            <td>[[${product.pname}]]</td>
                            <td>[[${product.cate}]]</td>
                            <td>[[${product.price}]]</td>
                            <td>[[${product.stock}]]</td>
                            <td th:text="${#temporals.format(product.rdate, 'yyyy-MM-dd')}"></td>

                        </tr>
                    </table>

                    <p>
                        <input type="submit" class="productDelete" id="productDelete" value="선택삭제">
                        <a th:href="@{/admin/product/register}" class="productRegister">상품등록</a>

                    </p>
                </form>

                    <!-- 페이지네이션 -->
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                            <li th:if="${!adminProductPage.isIsFirstPage()}" class="page-item">
                                <a class="page-link" th:href="@{/admin/product/list(pageNum=${adminProductPage.pageNum} - 1)}">이전</a>
                            </li>
                            <!-- 현재 페이지 번호와의 차이가 10 이하일 때까지만 페이지 번호를 출력합니다 -->
                            <li th:each="num : ${#numbers.sequence(adminProductPage.navigateFirstPage, adminProductPage.navigateLastPage)}"
                                th:classappend="${num == adminProductPage.pageNum} ? 'active' : ''"
                                class="page-item">
                                <a class="page-link" th:href="@{/admin/product/list(pageNum=${num})}" th:text="${num}"></a>
                            </li>
                            <li th:if="${adminProductPage.hasNextPage}" class="page-item">
                                <a class="page-link" th:href="@{/admin/product/list(pageNum=${adminProductPage.pageNum} + 1)}">다음</a>
                            </li>
                        </ul>
                    </nav>
                </article>
            </section>
        </main>
</html>